{%extends 'base.html'%}
{%block body%}
    <table class='table table-responsive'>
        <thead>
            <tr>
                {%for sub in subjects%}
                {%if forloop.first%}<th>{{sub}}</th>{%else%}
                <th>Lecture-{{sub}}</th>
                <th>Tutorial-{{sub}}</th>
                <th>Practical-{{sub}}</th>
                {%endif%}
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for student in students%}
                <tr>
                    {%for td in student%}
                    <td>{{td}}</td>
                    {%endfor%}
                </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock%}
