{%extends 'base.html'%}
{%block body%}
    <div class='container'>
        <p class='lead'>
            Showing notices in date range today+
            <input id='time_delta' type='text' class='input' value='{{timeperiod}}'/>
            Days.
            <button class='btn btn-success' id='go_button' >Go </button>
            <a href={%url 'notices:new'%} class='btn btn-info' id='new_notice_button'>Add a new notice</a>
        </p>
    </div>
    <div class='table-responsive'>
        <table id='noticeboard' class='table table-hover table-bordered'>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Details</th>
                    <th>Event Date</th>
                    <th>Venue</th>
                    <th>Society</th>
                    <th>Publish date</th>
                </tr>
            </thead>
            <tbody>
                {%for n in notices%}
                    <tr>
                        <td>{{n.title|capfirst}}</td>
                        <td>{{n.details|truncatewords:5}}</td>
                        <td>{{n.event_date}}</td>
                        <td>{{n.venue|capfirst}}</td>
                        <td>{{n.soc|capfirst}}</td>
                        <td>{{n.publish_date}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <script>
            document.getElementById('go_button').onclick=function(){
            var value=document.getElementById('time_delta').value;
            var current=window.location.href;
            var list=current.split('/');
            list.pop(list.length-1);//Remove last /
            list.pop(list.length-1);//Remove delta
            var len=list.length;
            var new_url="http://";
            for(var i=2; i<len; i++){
                new_url+=list[i]+'/';
                }
            new_url+=value+'/';
            window.location.href=new_url;
            }
            
        </script>
    </div>
{%endblock%}
